* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#FEF4AF, #FFADF7);
  font-family: Arial, Helvetica, sans-serif;
}

main{
  height: 700px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  background-color: #FFFFFF;
  border-radius: 9px;
  padding-top: 20px;
  gap: 17px;
}

.top{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  font-size: 29px;
  font-weight: 700;
}

.reset{
  height: 30px;
  width: 100px;
  background-color: #E84C3D;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 6px;
}

.reset:hover{
  cursor: pointer;
}

.top2{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  padding-right: 17px;
}

.mid{
  width: 96%;
}

.search{
  outline: none;
  border: 2px solid #EDEDED;
  padding-left: 20px;
  height: 50px;
  width: 100%;
  border-radius: 9px;
  font-size: 16px;
}

.jobs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  width: 100%;
  padding-left: 20px;
}

.card{
  height: 240px;
  width: 290px;
  border: 2px solid #EDEDED;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 15px;
  padding-top: 9px;
  justify-content: start;
  gap: 18px;
  border-radius: 9px;
}

.c-top{
  font-size: 14px;
  font-weight: 700;
}

.c-top2{
  font-size: 12px;
  color: grey;
}

.c-mid{
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #2D9BE2;
  font-weight: 600;
}

.c-mid-mid{
  display: flex;
  align-items: center;
  gap: 10px;
}

.c-but{
  background-color: #2D9BE2;
  border: none;
  border-radius: 2px;
  height: 24px;
  width: 80px;
  color: whitesmoke;
}

.c-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  gap: 5px;
  width: 100%;
}

.l{
  font-size: 13px;
  color: #27A844;
}

.m{
  font-size: 13px;
  color: grey;
}

.r button{
  background-color: #27A844;
  border: none;
  border-radius: 2px;
  height: 25px;
  width: 55px;
  color: white;
}

.r button:hover{
  cursor: pointer;
}

.c-mid-top{
  font-size: 14px;
}

.application-container{
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  border: 2px solid gray;
  border-radius: 9px;
  /* background-color: red; */
}

.application-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 45px;
}

.form-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.submit{
  background-color:#27A844;
  height: 40px;
  width: 100px;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 18px;
}

.cancel{
  background-color: #E84C3D;
  height: 40px;
  width: 100px;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 18px;
}

.name-input,.name-input2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.inputField{
  outline: none;
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 9px;
  font-size: 16px;
  border: 2px solid #EDEDED;
  padding-left: 15px;
}

.cancel:hover,.submit:hover{
  cursor: pointer;
}

.parent{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.p{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 850px;
  width: 500px;
  border: 2px solid #EDEDED;
  border-radius: 9px;
}

/* name  email job*/
.n , .e , .j{
  font-size: 20px;
  font-weight: 600;
}

.con{
  font-size: 20px;
}

